$backgroundImage: linear-gradient(to right, rgb(21, 255, 0), blue);
$width: 200px;
$height: 200px;
$border-radius: 50%;
$mAuto: auto;

body {
  text-align: center;
}
.round {
  margin: $mAuto;
  width: $width;
  height: $height;
  border-radius: $border-radius;
  background-image: $backgroundImage;
}
